@import "tailwindcss";

:root {
  --background: #131313;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-white: #fafafa;
}
